<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/default.css" />
    <title>Hangperson</title>
  </head>
  <body>
    <div class="container">
      <div id="header" class="span-24">
        <p>Play Hangperson!</p>
      </div>
      <div class="span-24">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
